## 1.1 Content<a id='1.3_Load_Data'></a>

## 1.2 Introduction<a id='1.3_Load_Data'></a>

The S&P 500 companies data will be used to predict the direction of the Apple stock. The data will be accessed through the polygon API. It consists of the stock price for all the S&P 500 companies for the year of 2020. Only companies with highest correlation, above 90 %, will be used to predict the stock price for Apple.

## 1.3 Import<a id='1.3_Load_Data'></a>

In [95]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from polygon import RESTClient

## 1.4 Load Data<a id='1.3_Load_Data'></a>

#### 2.3.1 S & P 500 Tickers <a id='1.3_Load_Data'></a>

In [39]:
S_P_Name_Symbol = pd.read_csv('../data/S_P_Name_Symbol.csv')

In [50]:
S_P_Name_Symbol.head(3)

                 Company Symbol
0             Apple Inc.   AAPL
1  Microsoft Corporation   MSFT
2        Amazon.com Inc.   AMZN

#### 2.3.2 S & P 500 stocks price for the Year of 2020 <a id='1.3_Load_Data'></a>

Access the polygon API to get the data to get the stock price for each stock.

In [ ]:
def ts_to_datetime(ts) -> str:
    return datetime.datetime.fromtimestamp(ts / 1000.0).strftime('%Y-%m-%d')

def stock(from_, to, ticker):
    key = "t64eMs2lm6Rf0_14lDjCGzkBh8N717or"
    with RESTClient(key) as client:
        resp = client.stocks_equities_aggregates(ticker, 1, "day", from_, to, unadjusted=False)
        name= ticker + '_Highest price'
        d = {name:[]}   
        for result in resp.results: 
            d[name].append(result["h"])
        df = pd.DataFrame(data=d)
        return df

Get the date for the stocks price.

In [46]:
# Get the date for stocks price
def stock_date(from_, to):
    key = "t64eMs2lm6Rf0_14lDjCGzkBh8N717or"
    with RESTClient(key) as client:
        resp = client.stocks_equities_aggregates('AAPL', 1, "day", from_, to, unadjusted=False)    
    date =[]
    for result in resp.results:
        dt = ts_to_datetime(result["t"])
        date.append(dt)
    return date

Get the price for all the stocks.

In [47]:
def stocks_data(from_, to, tickers):
    d_frames = []
    for ticker in tickers:
        df = stock(from_ ,to ,ticker)
        d_frames.append(df)
    combined_df = pd.concat(d_frames, axis=1)
    date = stock_date(from_, to)
    combined_df.insert(0, 'Date', date)
    return combined_df

The price for S&P 500 stock in the year of 2020

In [48]:
tickers = S_P_Name_Symbol['Symbol'].values[0:500]
stocks_data_daily = stocks_data("2020-01-01", "2020-12-31",tickers)

A summary of the data

In [59]:
stocks_data_daily.head(2)

,Date,AAPL_Highest price,MSFT_Highest price,AMZN_Highest price,GOOGL_Highest price,FB_Highest price,GOOG_Highest price,TSLA_Highest price,NVDA_Highest price,BRK.B_Highest price,...,DISCK_Highest price,NLSN_Highest price,VNO_Highest price,HBI_Highest price,LEG_Highest price,IPGP_Highest price,RL_Highest price,FOX_Highest price,GPS_Highest price,DISCA_Highest price
0,2020-01-01,75.150,160.730,1898.0100,1368.68,209.79,1368.14,86.1391,59.9775,228.39,...,30.64,20.4500,66.90,14.8600,51.297,147.605,118.9400,36.75,17.8,32.84
1,2020-01-02,75.145,159.945,1886.1965,1373.75,210.40,1372.50,90.8000,59.4575,227.43,...,30.22,20.1457,66.09,14.4999,50.130,144.960,118.4061,36.35,17.5,32.23

In [60]:
stocks_data_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Columns: 501 entries, Date to DISCA_Highest price
dtypes: float64(500), object(1)
memory usage: 990.4+ KB

Find stocks with missing values

In [70]:
stocks_data_daily.isnull().sum()

Date                   0
AAPL_Highest price     0
MSFT_Highest price     0
AMZN_Highest price     0
GOOGL_Highest price    0
                      ..
IPGP_Highest price     0
RL_Highest price       0
FOX_Highest price      0
GPS_Highest price      0
DISCA_Highest price    0
Length: 501, dtype: int64

**Stocks with missing values**

In [88]:
stocks_w_null_val = stocks_data_daily.isnull().sum()
stocks_missing_val =[]
for i in range(len(stocks_w_null_val)):
    if stocks_w_null_val[i] != 0:
        per_missing_val = round(stocks_w_null_val[i]/253 * 100,2)
        print(f'{stocks_w_null_val.index[i]}, {stocks_w_null_val[i]}, {per_missing_val}% of the data is missing')
        if per_missing_val > 10:
            stocks_missing_val.append(stocks_w_null_val.index[i])

RTX_Highest price, 64, 25.3% of the data is missing
CARR_Highest price, 64, 25.3% of the data is missing
BIIB_Highest price, 1, 0.4% of the data is missing
TT_Highest price, 40, 15.81% of the data is missing
OTIS_Highest price, 64, 25.3% of the data is missing
VTRS_Highest price, 222, 87.75% of the data is missing
LUMN_Highest price, 180, 71.15% of the data is missing
HWM_Highest price, 62, 24.51% of the data is missing

**Dropping stocking with missing values**

In [89]:
stocks_missing_val

['RTX_Highest price',
 'CARR_Highest price',
 'TT_Highest price',
 'OTIS_Highest price',
 'VTRS_Highest price',
 'LUMN_Highest price',
 'HWM_Highest price']

In [91]:
SNP_500_2020 =  stocks_data_daily.drop(stocks_missing_val, axis=1)

In [93]:
SNP_500_2020.shape, stocks_data_daily.shape

((253, 494), (253, 501))

**Relationship between Apple and the remaining stocks**

In [194]:
SNP_500_2020.corr().iloc[0:1,1:]

,MSFT_Highest price,AMZN_Highest price,GOOGL_Highest price,FB_Highest price,GOOG_Highest price,TSLA_Highest price,NVDA_Highest price,BRK.B_Highest price,JPM_Highest price,JNJ_Highest price,...,DISCK_Highest price,NLSN_Highest price,VNO_Highest price,HBI_Highest price,LEG_Highest price,IPGP_Highest price,RL_Highest price,FOX_Highest price,GPS_Highest price,DISCA_Highest price
AAPL_Highest price,0.930609,0.917592,0.864134,0.949139,0.86761,0.938808,0.954867,0.522347,0.056026,0.452103,...,-0.091416,0.007093,-0.438986,0.732171,0.486928,0.854518,-0.186237,-0.136912,0.729831,-0.011458

In [111]:
# Relationship between Apple stock and the S&P 500 stocks
SNP_500_2020.corr().iloc[0:1,1:].T

                     AAPL_Highest price
MSFT_Highest price             0.930609
AMZN_Highest price             0.917592
GOOGL_Highest price            0.864134
FB_Highest price               0.949139
GOOG_Highest price             0.867610
...                                 ...
IPGP_Highest price             0.854518
RL_Highest price              -0.186237
FOX_Highest price             -0.136912
GPS_Highest price              0.729831
DISCA_Highest price           -0.011458

[492 rows x 1 columns]

In [121]:
SNP_500_2020_corr = SNP_500_2020.corr().iloc[0:1,1:].T

**Stocks with the highest correlation with the Apple stock(.85 &-.85)**

In [171]:
SNP_500_2020_corr[SNP_500_2020_corr['AAPL_Highest price'].apply(lambda x: (x >= .9) | (x <= -.9))]

                    AAPL_Highest price
MSFT_Highest price            0.930609
AMZN_Highest price            0.917592
FB_Highest price              0.949139
TSLA_Highest price            0.938808
NVDA_Highest price            0.954867
...                                ...
MAS_Highest price             0.903538
FBHS_Highest price            0.910524
CHRW_Highest price            0.907034
PENN_Highest price            0.928784
ROL_Highest price             0.950434

[72 rows x 1 columns]

In [172]:
# create a filter with .9 correlation
corr_rate = SNP_500_2020_corr['AAPL_Highest price'].apply(lambda x: (x >= .9) | (x <= -.9))
SNP_500_2020_H_corr = SNP_500_2020_corr[corr_rate]

In [192]:
# Display the stocks with the .9 correlation
SNP_500_2020_H_corr.sort_values(by='AAPL_Highest price', ascending=False)

                    AAPL_Highest price
MNST_Highest price            0.970631
ADBE_Highest price            0.963809
CRL_Highest price             0.958698
CMG_Highest price             0.958133
POOL_Highest price            0.958130
...                                ...
MAS_Highest price             0.903538
PG_Highest price              0.903349
BBY_Highest price             0.902979
DE_Highest price              0.902597
PCAR_Highest price            0.902568

[72 rows x 1 columns]

**Save the stocks with the highest correlation to apple to a csv file**

In [250]:
apple_cor90_stocks = ['Date','AAPL_Highest price']+SNP_500_2020_H_corr.index.values.tolist()
SNP_500_2020_cor90 = SNP_500_2020.loc[:,apple_cor90_stocks]

In [251]:
SNP_500_2020_cor90.head(3)

,Date,AAPL_Highest price,MSFT_Highest price,AMZN_Highest price,FB_Highest price,TSLA_Highest price,NVDA_Highest price,PG_Highest price,PYPL_Highest price,ADBE_Highest price,...,POOL_Highest price,GWW_Highest price,TTWO_Highest price,ABMD_Highest price,JBHT_Highest price,MAS_Highest price,FBHS_Highest price,CHRW_Highest price,PENN_Highest price,ROL_Highest price
0,2020-01-01,75.150,160.730,1898.0100,209.79,86.1391,59.9775,124.73,111.21,334.48,...,213.88,344.71,123.9800,173.8600,117.9900,48.410,65.81,78.50,26.150,22.3933
1,2020-01-02,75.145,159.945,1886.1965,210.40,90.8000,59.4575,123.53,110.42,332.98,...,215.68,342.26,122.5000,169.3174,117.2100,47.920,65.50,77.80,25.965,22.1733
2,2020-01-05,74.990,159.100,1903.6900,212.78,90.3120,59.3175,123.19,110.22,333.91,...,215.34,339.85,125.1264,179.4200,116.1998,47.625,65.89,77.62,26.330,22.1933

**Saving the dataframe to a csv file**

In [252]:
SNP_500_2020_cor90.to_csv('../data/SNP_500_2020_cor90.csv')