In [18]:
import pandas as pd
import numpy as np

In [21]:
tax =pd.read_csv('API_FR.INR.RINR_DS2_en_csv_v2_3159035.csv')

In [22]:
tax

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,United States,USA,3.107885,3.215346,3.374882,2.951669,2.565913,2.649421,2.406227,1.863911,...,1.307083,1.469299,1.374742,2.285696,2.436851,2.175694,2.444494,3.43601,2.304958,NaN

In [50]:
list(tax.iloc[0,0:len(ye)+2].values)

['United States',
 'USA',
 3.10788487484433,
 3.21534597587191,
 3.37488224240515,
 2.95166899970868,
 2.56591312626037,
 2.64942062883462,
 2.40622703183633,
 1.86391124668396,
 2.85177336421873,
 2.18540000839062,
 0.62260495720725,
 0.88722916425152,
 2.40973534145284,
 1.65106445818912,
 -1.28141917096265,
 1.26689165699568,
 0.575068852913289,
 1.88990329174528,
 4.03454769286935,
 5.7163904794562,
 8.59461978793387,
 8.17734743775717,
 6.6181602274006,
 8.14108811911498,
 6.56332655995495,
 6.19386027119665,
 5.59223790069931]

In [94]:
data_

array([3.10788487484433, 3.21534597587191, 3.37488224240515,
       2.95166899970868, 2.56591312626037, 2.64942062883462,
       2.40622703183633, 1.86391124668396, 2.85177336421873,
       2.18540000839062, 0.62260495720725, 0.88722916425152,
       2.40973534145284, 1.65106445818912, -1.28141917096265,
       1.26689165699568, 0.575068852913289, 1.88990329174528,
       4.03454769286935, 5.7163904794562, 8.59461978793387,
       8.17734743775717, 6.6181602274006, 8.14108811911498,
       6.56332655995495, 6.19386027119665, 5.59223790069931,
       5.59038219332081, 6.69068693481143, 6.03974920024778,
       4.91534648240575, 3.88423803806005, 3.54561722959168,
       4.898309954362, 6.5939963828891, 6.32407370913164,
       6.53661498804258, 7.1481919123237, 6.4571348015229,
       6.84484418755139, 4.62675686396421, 3.04507118458628,
       2.22410112310282, 1.60458893576253, 2.98135677415587,
       4.78644765750077, 5.22340584151622, 3.08241133651995,
       2.46882889478265, 2.06073671062756, 1.1373383192166,
       1.30708311280131, 1.46929925051209, 1.37474217085635,
       2.28569648741529, 2.43685070473409, 2.17569426533145,
       2.44449371999786, 3.43601046885253, 2.30495808623329], dtype=object)

In [97]:
data_ = tax.iloc[0:len(ye)].values[0][2:27]
index_ = [1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [98]:
len(data_), len(index_)

(25, 25)

In [99]:
tax_ad = pd.DataFrame(data = data_, index= index_, columns=['USA'])

In [100]:
tax_ad

           USA
1996  3.107885
1997  3.215346
1998  3.374882
1999  2.951669
2000  2.565913
2001  2.649421
2002  2.406227
2003  1.863911
2004  2.851773
2005    2.1854
2006  0.622605
2007  0.887229
2008  2.409735
2009  1.651064
2010 -1.281419
2011  1.266892
2012  0.575069
2013  1.889903
2014  4.034548
2015   5.71639
2016   8.59462
2017  8.177347
2018   6.61816
2019  8.141088
2020  6.563327

In [105]:
k=tax_ad['USA'].diff()

In [106]:
k

1996         NaN
1997    0.107461
1998    0.159536
1999   -0.423213
2000   -0.385756
2001    0.083508
2002   -0.243194
2003   -0.542316
2004    0.987862
2005   -0.666373
2006   -1.562795
2007    0.264624
2008    1.522506
2009   -0.758671
2010   -2.932484
2011    2.548311
2012   -0.691823
2013    1.314834
2014    2.144644
2015    1.681843
2016    2.878229
2017   -0.417272
2018   -1.559187
2019    1.522928
2020   -1.577762
Name: USA, dtype: object